@{
    ViewData["Title"] = "Evaluación";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidxs al sitio de evaluación Web 3</h1>
</div>
<div class="text-center">
    <a asp-controller="Venta" asp-action="RegistrarVenta">Registrar Venta</a>


<div class="text-center">
    <a asp-controller="Venta" asp-action="ListaVenta">Resultados</a>
</div>

